* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;

}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 10%;
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 8px 16px;
  position: sticky;
}

header a {
  display: block;
  text-decoration: none;
  color: white;
  width: 25%;
  padding: 10px;
  transition: all 0.3s ease;
}

header a:hover {
  background-color: #ccc;
  color: black;
}

/* Main */

main {
  background-image: url(./images/coffeehouse.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  filter: grayscale(60%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: white;
  font-size: 90px;
  letter-spacing: 4.4px;
  text-align: center;
  font-weight: 400;
}

main span {
  position: absolute;
  right: 12px;
  bottom: 10px;
  color: white;
  width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
  font-size: 18px;
}

main .open {
  left: 19px;
  background-color: black;
  padding: 3px 12px;

}

/* Container */

.container {
  width: 70%;
  margin: auto;
}

.title {
  font-size: 30px;
  margin: 50px auto;
  width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
  text-align: center;
  color: white;
  padding: 4px 14px ;
  background-color: black;
  font-weight: 600;
  word-spacing: 10px;
}

.container p {
  font-size: 22px;
  font-family: "Inconsolata", sans-serif;
  color: #817d7d;
  line-height: 2;
  margin: auto;
  margin-bottom: 20px ;
}

.container img {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  margin: 30px 0;
  filter: grayscale(60%);
}

#about {
  width: 90%;
  margin: auto;
}

#about .mark {
  background-color: #f1f1f1 ;
  border-left: 5px solid gray;
  padding: 20px;
  padding-left: 45px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

strong {
  color: black;
  padding-left: 10px;
}

/* Menu */

#menu {
  width: 90%;
  margin: auto;
}

#menu .box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#menu .buttons {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
}

#menu .buttons button {
  width: 50%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background-color: white;
}

#menu .active {
  background-color: gray !important;
  color: white;
  padding: 0px;
}

#menu .box {
  padding: 20px;
}

#menu .box h3 {
  color : rgb(107, 106, 106) ;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

#menu .box .par {
  margin-bottom: 30px;
}

/* Where */

#where {
  width: 90%;
  margin: auto;
}

#where .where {
  margin-bottom: -20px;
  font-size: 25px;
}

#where span {
  margin-right: 4px;
}

#where .reserve {
  color: black;
  font-weight: bold;
}

/* Form */

.form {
  width: 90%;
  margin: auto;
}

form * {
  width: 100%;
  padding: 20px;
  font-size: 21px;
  margin-bottom: 15px;
  resize: none;
  border: 1px solid gray;
  border-radius: 10px;
}

form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 22px;
}

form textarea {
  height: 100px;
}

/* Footer */

footer {
  margin-top: 50px;
  text-align: center;
}

footer p {
  font-size: 25px;
  font-weight: 700;
}
